
{%extends 'base.html' %}
{% block content %}
<h1>{{post.title}}</h1>
<small>By:{{post.author}} -
    {{post.post_date}}</small><br/>
<hr>
<br/>
<div>

<img src="{{ post.image.url }}" alt="{{ post.title }}" style="width: 600px; height: auto;">




</div>
{{post.body|safe}}
<br></br>
<a href="{%url 'home' %}" class="btn btn-secondary">Back</a>
<br/><br/>
{% if user.is_authenticated %}
  {% if user.id == post.author.id %}
<a href="{%url 'delete_post' post.pk %}" class="btn btn-secondary">Delete</a>
<a href="{%url 'update_view' post.pk %}" class="btn btn-secondary">Update</a>
   {%endif%}
{%endif%}
{%endblock%}    